{% extends "base.html" %}

{% block content %}

<style>
    td { padding: 5px }
</style>

{% if user.is_authenticated %}
    <p>You are already logged in</p>
{% else %}
    <center>
        <div style="width: 30%">
            <h2>Log in</h2>
            <form method="post" action={% url 'login' %}>
                {% csrf_token %}
                <table>
                    {% for field in form %}
                    <div class="form-group">
                        <tr>
                            <td>{{ field.label_tag }}</td>
                            <td>{{ field }}</td>
                        </tr>
                    </div>
                    {% endfor %}
                </table>
                <button class="btn btn-primary" style="width: 100%">Log in</button>
            </form>
            {% if form.errors %}
            <p style="color: red">Invalid username or password, please try again</p>
            {% endif %}
        </div>
    </center>
{% endif %}

{% endblock %}