{% extends "base.html" %}

{% block content %}

<style>
    .backbtn {
        float: right;
        margin: 5px;
    }
    th {
        text-align: center;
    }
    td {
        text-align: center;
    }
</style>

{% include "stocks/wallet_state.html" with wallet=wallet %}

<div class="backbtn">
    <a href={% url 'main' %} class="btn btn-primary btn-lg backbtn" role="button">Back</a>
</div>

<center>
    <br /><br/>
    {{ date }}
    {% for error in errors %}
    <p><font color="red">{{ error }}</font></p>
    {% endfor %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Stock</th>
                <th>Price</th>
                <th>Change in a day</th>
                <th>Change in a month</th>
                <th>Operation</th>
                <th>Chart</th>
            </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.name }}</td>
                <td>{{ stock.price }}</td>
                {% if stock.change_yesterday > 0 %}
                    <td><font color="green">{{ stock.change_yesterday }}%</font></td>
                {% elif stock.change_yesterday == 0 %}
                    <td>{{ stock.change_yesterday }}%</td>
                {% else %}
                    <td><font color="red">{{ stock.change_yesterday }}%</font></td>
                {% endif %}
                {% if stock.change_month > 0 %}
                    <td><font color="green">{{ stock.change_month }}%</font></td>
                {% elif stock.change_month == 0 %}
                    <td>{{ stock.change_month }}%</td>
                {% else %}
                    <td><font color="red">{{ stock.change_month }}%</font></td>
                {% endif %}
                <td>
                    <form method="post">
                        {% csrf_token %}
                        <input type="number" min="0" style="width: 20%" name="amount">
                        <input type="hidden" value="{{ stock.price }}" name="price">
                        <input type="hidden" value="{{ stock.name }}" name="stock_name">
                        <button class="btn btn-primary btn-md" role="button">Buy</button>
                    </form>
                </td>
                <td><a href={% url 'chart' stock.name %} class="btn btn-primary btn-md" role="button">Show chart</a></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5" align="center">No stock markets to show</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</center>

{% endblock %}