{% extends "base.html" %}

{% block content %}

<style>
    .group {
        width: 30%
    }
</style>

{% include "stocks/wallet_state.html" with wallet=wallet %}
<br />

<center>
    <div class="group">
        <br /><br /><br />
        <a href={% url 'manage' %} class="btn btn-primary btn-lg btn-block" role="button">Manage your stocks</a>
        <br /><br /><br />
        <a href={% url 'browse' %} class="btn btn-primary btn-lg btn-block" role="button">Browse stock markets</a>
        <br /><br /><br />
        <a href={% url 'history' %} class="btn btn-primary btn-lg btn-block" role="button">Show history</a>
    </div>
</center>

{% endblock %}