{% extends "base.html" %}

{% block content %}

<style>
    .group {
        width: 30%
    }
</style>

<h4>Hello, {{ user.first_name }}!</h4>
<h5>Wallet: {{ dollars }}.{{ cents }}$</h5>

<center>
    <div class="group">
        <br /><br /><br />
        <a href={% url 'manage' %} class="btn btn-primary btn-lg btn-block" role="button">Manage your stocks</a>
        <br /><br /><br />
        <a href={% url 'browse' %} class="btn btn-primary btn-lg btn-block" role="button">Browse stock markets</a>
        <br /><br /><br />
        <a href={% url 'history' %} class="btn btn-primary btn-lg btn-block" role="button">Show history</a>
    </div>
</center>

{% endblock %}