{% extends "base.html" %}

{% block content %}

{% include "stocks/wallet_state.html" with wallet=wallet %}

<div class="backbtn">
    <a href={% url 'main' %} class="btn btn-primary btn-lg backbtn" role="button">Back</a>
</div>

<center>
    <br /><br/>
    {% for error in errors %}
    <p><font color="red">{{ error }}</font></p>
    {% endfor %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Stock</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
        {% for profile_stock in profile_stocks %}
            <tr>
                <td>{{ profile_stock.name }}</td>
                <td>{{ profile_stock.amount }}</td>
                <td>{{ profile_stock.price }}</td>
                <td>
                    <form method="post">
                        {% csrf_token %}
                        <input type="number" min="0" style="width: 20%" name="amount">
                        <input type="hidden" value={{ profile_stock.price }} name="price">
                        <input type="hidden" value={{ profile_stock.name }} name="stock_name">
                        <button class="btn btn-primary btn-md" role="button">Sell</button>
                    </form>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5" align="center">No stocks to show</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</center>

{% endblock %}